body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #D7BF9C;
    /* overflow: hidden; */
    background-image: url("../images/mainPage/image-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #bb5a00;
    opacity: 0.93;
    padding: 19px 0px 19px 0px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    overflow: hidden;
    width: 100%;
}

.login-text {
    color: #ffffff;
    text-align: left;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
}

.login-div a,
.navmenuitems a,
.frame a {
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.searchbar {
    border-radius: 30px;
    border-style: solid;
    border-color: #ffffff21;
    border-width: 2px;
    flex-shrink: 0;
    width: 905px;
    height: 65px;
    position: relative;
    overflow: hidden;
    font-size: 22px;
}

.food-hub {
    width: 541px;
    height: 103px;
    top: 0;
    left: 0;
    margin-left: 36%;
    margin-top: 30%;
}

.foobhub-logo-text {
    text-align: right;
    position: fixed;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 60px;
    left: 40px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: bottom;
    justify-content: bottom;
    background: linear-gradient(#FF0000, #FF6000, #EEA325);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.slogen {
    font-family: 'Inter-Regular', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 35.5%;
    margin-top: 35%;
}

/* Style for the divider */
.divider {
    height: 1px;
    margin: 5px 0;
    background-color: #ccc; /* You can adjust the color to your preference */
}
