:root {
  --lemon-orange-red-linear: linear-gradient(180deg, #EEA325 0%, #FF6000 50%, #FF0000 100%);
}

body {
  background-color: #D7BF9C;
  background-image: url("../images/registrationPage/image-3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  margin: 0;
  padding: 0;
  zoom: 78%;
}

.regisztralas {
  /* background-color: #d6bf9b; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.regisztralas .div {
  /* background-color: #d6bf9b; */
  width: 1920px;
  height: 1080px;
  position: fixed;
}

.regisztralas .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 41px;
  left: 1063px;
}

.regisztralas .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  position: relative;
  flex: 0 0 auto;
}

.regisztralas .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  position: relative;
  flex: 0 0 auto;
}

.regisztralas .frame-4 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.regisztralas .logo {
  position: relative;
  width: 232px;
  height: 186px;
  object-fit: cover;
}

.regisztralas .foodhub-stroke {
  position: relative;
  width: 559.01px;
  height: 120.55px;
  margin-right: -4px;
}

.regisztralas .regisztralj {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 42px;
  letter-spacing: 0;
  line-height: normal;
}

.regisztralas .frame-border {
  display: flex;
  width: 110%;
  height: 110%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border: 5px dashed;
  border-image: var(--lemon-orange-red-linear);
  border-image-slice: 1;
  padding: 10px;
}

.regisztralas .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  margin-top: 5px;
}

.regisztralas .text-wrapper {
  position: relative;
  width: 400px;
  height: 48px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.regisztralas .div-wrapper {
  position: relative;
  width: 506px;
  height: 81px;
  margin-bottom: -3px;
  margin-left: -3px;
  margin-right: -3px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid;
  border-color: #ff9900;
}

.regisztralas .text-wrapper-2 {
  width: 472px;
  height: 53px;
  top: 11px;
  position: absolute;
  left: 12px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.regisztralas .frame-6 {
  position: relative;
  width: 507px;
  height: 81px;
  margin-bottom: -3px;
  margin-left: -3px;
  margin-right: -3px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid;
  border-color: #ff9900;
}

.regisztralas .text-wrapper-3 {
  width: 480px;
  height: 51px;
  top: 12px;
  position: absolute;
  left: 12px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.regisztralas .text-wrapper-4 {
  position: absolute;
  width: 366px;
  height: 54px;
  top: 10px;
  left: 14px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.regisztralas .overlap-group {
  position: absolute;
  width: 96px;
  height: 39px;
  top: 18px;
  left: 391px;
  background-color: #ff9900;
  border-radius: 5px;
  cursor: pointer;
}

.regisztralas .text-wrapper-5 {
  position: absolute;
  height: 24px;
  top: 8px;
  left: 12px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.regisztralas .mar-van-fiokod {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.regisztralas .span {
  color: #000000;
}

.regisztralas .text-wrapper-6 {
  color: #ff9900;
}

.regisztralas .regisztralas-wrapper {
  position: relative;
  width: 380px;
  height: 70px;
}

.regisztralas .text-wrapper-7 {
  position: absolute;
  width: 380px;
  height: 70px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  background-color:#ff9900;
  border-radius: 5px;
  border-color: #ff9900;
  cursor: pointer;
}

.regisztralas .image {
  position: fixed;
  width: 1001px;
  height: 1100px;
  top: 0px;
  left: 0px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
}

a,
a::after {
  color: #ff9900;
}

.password-requirements  {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin: 20px;
}