:root {
    --lemon-greater-orange-greater-red-linear: linear-gradient(180deg,
            rgba(238, 163, 37, 1) 0%,
            rgba(255, 96, 0, 1) 51.5625%,
            rgba(255, 0, 0, 1) 100%);
}

a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    appearance: none;
    background: none;

    -webkit-font-smoothing: antialiased;
}

.websidecookies,
.websidecookies * {
    box-sizing: border-box;
}

.websidecookies {
    display: flex;
    height: 78px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-image: url('../../images/mainPage_Image/websidecookies.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 9999;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    zoom: 90%;
}

.websidecookies-layout {
    display: flex;
    flex-direction: row;
    gap: 226px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 195px;
    top: 1px;
}

.websidecookies-description {
    flex-shrink: 0;
    width: 999px;
    height: 77px;
    position: relative;
    overflow: hidden;
}

.websidecookies-description-text {
    color: #ffd88a;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 9px;
    top: 0px;
    width: 990px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.websidecookies-agreebutton {
    background: #d8a339;
    border-radius: 15px;
    flex-shrink: 0;
    width: 148px;
    height: 42px;
    position: relative;
    overflow: hidden;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.websidecookies-agreebutton:active {
    transform: scale(1.1);
}

.websidecookies-agreebutton:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.websidecookies-agreebutton-text {
    color: #492a04;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}