:root {
  --lemon-greater-orange-greater-red-linear: linear-gradient(180deg,
          rgba(238, 163, 37, 1) 0%,
          rgba(255, 96, 0, 1) 51.5625%,
          rgba(255, 0, 0, 1) 100%);
}

.navbar,
.navbar_menu {
  background-color: #B02000;
  opacity: 0.96;
  padding: 9px 0px 9px 0px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  zoom: 60%;
}

.navbar_profil_text {
  color: #ffffff;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}

.login_div a {
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.search-container {
  position: relative;
  margin-top: 10px;
}

#search-results-container {
  position: absolute;
  display: none;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: white;
  border-top: none !important;
  width: calc(100% - 45px);
  max-height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 30px !important;
}

#search-results-container::-webkit-scrollbar {
  /* width: 25px; */
  /* overflow-y: overlay; */
  position: fixed;
}

#search-results-container::-webkit-scrollbar-thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../images/mainPage_Image/hotdogscrollbarimage.png');
}

#search-results-container::-webkit-scrollbar-track {
  background-color: #f0d8b5;
}

#search-results-container::-webkit-scrollbar-button {
  display: none;
}

#search-results-container::-webkit-scrollbar-corner {
  display: none;
}

.navbar_searchbar {
  border-radius: 15px;
  border-style: solid;
  border-color: #ffffff21;
  background-color: whitesmoke;
  border-width: 2px;
  flex-shrink: 0;
  width: calc(100%);
  height: 75px;
  position: relative;
  overflow: hidden;
  font-size: 40px;
  text-align: left;
  padding-left: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  outline: none;
}

.navbar_foobhub_logo_text {
  font-size: 100px;
  position: relative;
  background: linear-gradient(#FF0000, #FF6000, #EEA325);
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  width: 300px;
  height: auto;
  left: 20px;
}

.navbar_foobhub_logo_text:hover {
  background: linear-gradient(#FF0000, #FF6000, #EEA325);
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

.navbar a,
.navbar a:hover {
  text-decoration: none;
  color: white;
}

.navbar_middle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.nav-link:hover {
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbarmenulist li:hover,
a:hover {
  color: white;
  font-weight: 20px;
}

.menuitems_row {
  font-size: 30px;
}

.logo {
  width: 150px;
  height: auto;
}

.navbar_menu {
  top: 107px;
}

.dropdown_profil {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.dropdown_content_profil {
  display: none;
  position: absolute;
  background-color: rgba(238, 163, 37, 0.97);
  min-width: 300px;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  opacity: 0;
  right: -100px;
  top: 70px;
  transition: opacity 0.3s ease;
  text-align: center;
}

.dropdown_content_profil a {
  color: black;
  text-decoration: none;
  appearance: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
}

.dropdown_content_profil a:hover {
  background-color: transparent;
  text-decoration: none;
  color: white;
}

.dropdown_profil:hover .dropdown_content_profil {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.usersvg {
  width: auto;
}

.hamburgermenudropdown {
  position: relative;
  display: inline-block;
}

.hamburgermenudropdown_content {
  display: none;
  position: fixed;
  top: 130px;
  right: 0;
  min-width: max-content;
  width: 200px;
  height: max-content;
  background-color: #B02000;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  align-content: flex-end;

  .nav-link {
      padding: 0;
  }
}

.hamburgermenudropdown_content li {
  list-style-type: none;
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.hamburgermenudropdown_content a {
  color: white;
  font-size: 30px;
  text-align: right !important;
}

.hamburgermenudropdown_content img {
  width: 50px;
  margin-right: 10px;
  z-index: 2;
}

.dropdown_content_foetel_hamburgermenu {
  display: none;
}

#hamburgermenudropdownicon {
  transition: transform 0.3s ease;
}

.rotate-icon {
  transform: rotate(90deg);
}

.logout_icon,
.gear_icon,
.recipe_icon {
  position: relative;
  width: 20%;
  height: 20%;
}