body {
  margin: 0;
  padding: 0;
}

.admin-page,
.admin-page * {
  box-sizing: border-box;
}

.admin-page {
  background: #d7bf9c;
  min-height: 120rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  zoom: 50%;
}

.admin-page__main-changing-div {
  width: 120rem;
  height: max-content;
  position: relative;
  left: 0rem;
  /* top: 44.1875rem; */
}

.admin-page__adminpage-maindiv {
  width: 120rem;
  height: max-content;
  position: relative;
  left: 0rem;
  top: 0rem;
  margin-bottom: 2rem;
}

.admin-page__button-category-layout {
  border-style: solid;
  border-color: transparent;
  border-width: 0.3125rem;
  padding: 3.125rem 0.625rem 0.625rem 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 4.6875rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 120rem;
  position: relative;
  left: 0rem;
  margin-top: 10.625rem;
}

.admin-page__recipes,
.admin-page__ingredients,
.admin-page__users,
.admin-page__admins {
  border-radius: 0.625rem;
  border-width: 0.3rem;
  border-style: solid;
  border-image: var(--lemon-greater-orange-greater-red-linear,
      linear-gradient(180deg,
        rgba(238, 163, 37, 1) 0%,
        rgba(255, 96, 0, 1) 51.5625%,
        rgba(255, 0, 0, 1) 100%));
  border-image-slice: 1;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 18.75rem;
  height: 18.75rem;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.admin-page__recipes-text,
.admin-page__ingredients-text,
.admin-page__users-text,
.admin-page__admins-text {
  color: #000000;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 2.0625rem;
  font-weight: 800;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orangeColoredText {
  background: var(--lemon-greater-orange-greater-red-linear,
      linear-gradient(180deg,
        rgba(238, 163, 37, 1) 0%,
        rgba(255, 96, 0, 1) 51.5625%,
        rgba(255, 0, 0, 1) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: none; */
}

.admin-page__admin-text-inner {
  background: var(--lemon-greater-orange-greater-red-linear,
      linear-gradient(180deg,
        rgba(238, 163, 37, 1) 0%,
        rgba(255, 96, 0, 1) 51.5625%,
        rgba(255, 0, 0, 1) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  position: relative;
  left: calc(50% - 60rem);
  bottom: 162.4375rem;
  top: 9.3125rem;
  width: 120rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-page__admin-navbar {
  display: flex;
  flex-direction: row;
  /* gap: 62.1875rem; */
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.admin-page__loggedinas-layout {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 6.25rem;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.admin-page__icon {
  flex-shrink: 0;
  width: 4.6875rem;
  height: 4.6875rem;
  position: relative;
  overflow: visible;
}

.admin-page__loggedinas-layout-frame {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.admin-page__text {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2.1875rem;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 15.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-page__text-username {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2.1875rem;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-page__logout-layout {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 25rem;
  height: 6.25rem;
  position: relative;
}

.admin-page__icon2 {
  flex-shrink: 0;
  width: 4.6875rem;
  height: 4.6875rem;
  position: relative;
  overflow: visible;
}

.admin-page__text2 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 2.1875rem;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}