@media (min-width: 320px) and (max-width: 375px) {
    body {
      /* background-color: turquoise; */
      background-image: none;
      padding-right: 0px;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
  
      .logo {
        position: absolute;
        top: -150px;
        background-position: center;
      }
  
      .border {
        border: none;
      };
    }
  }
  
  @media (min-width: 375px) and (max-width: 425px) {
    body {
      /* background-color: violet; */
      background-image: none;
      padding-right: 0px;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      
  
      .logo {
        position: absolute;
        top: -150px;
        background-position: center;
      }
    }
  }
  
  @media (min-width: 425px) and (max-width: 721px) {
    body {
      /* background-color: blue; */
      background-image: none;
      padding-right: 5px;
      align-content: center;
      flex-wrap: wrap;
    }
  }
  
  @media (min-width: 721px) and (max-width: 768px) {
    body {
      /* background-color: red; */
      background-position: -500px;
      padding-right: 50px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    body {
      /* background-color: green; */
      background-position: -500px;
      padding-right: 100px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    body {
      /* background-color: yellow; */
      background-position: -200px;
      padding-right: 100px;
    }
  }
  
  @media (min-width: 1200px) {
    body {
      /* background-color: purple; */
      padding-right: 60px;
    }
  }