.dropdown_profil {
    position: relative;
    display: inline-block;
}

.dropdown_content_profil {
    display: none;
    position: absolute;
    background-color: rgba(238, 163, 37, 0.97);
    min-width: 180px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    opacity: 0;
    right: -50px;
    transition: opacity 0.3s ease;
}

.dropdown_content_profil a {
    color: black;
    text-decoration: none;
    appearance: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}

.dropdown_content_profil a:hover {
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.dropdown_profil:hover .dropdown_content_profil {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.3s ease;
}