.loading_screen_blur {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  zoom: 50%;
}

.loading_screen_body_div {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  zoom: 50%;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(10px);
}

.loading_screen_pizza {
  width: 500px;
  height: 500px;
  position: relative;
}

.loading_screen_slice {
  width: 460px;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
}

.loading_screen_slice:nth-child(1) {
  transform: translate(-50%, -50%) rotate(30deg) translate(150px) rotate(95deg);
}

.loading_screen_slice:nth-child(2) {
  transform: translate(-50%, -50%) rotate(90deg) translate(150px) rotate(95deg);
}

.loading_screen_slice:nth-child(3) {
  transform: translate(-50%, -50%) rotate(150deg) translate(150px) rotate(95deg);
}

.loading_screen_slice:nth-child(4) {
  transform: translate(-50%, -50%) rotate(210deg) translate(150px) rotate(95deg);
}

.loading_screen_slice:nth-child(5) {
  transform: translate(-50%, -50%) rotate(270deg) translate(150px) rotate(95deg);
}

.loading_screen_slice:nth-child(6) {
  transform: translate(-50%, -50%) rotate(330deg) translate(150px) rotate(95deg);
}

.fadeOut {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}