body {
  margin: 0;
  padding: 0;
}

.body-div,
.body-div * {
  box-sizing: border-box;
}

.body-div {
  zoom: 60%;
  margin: 0;
  padding: 0;
  background: #d7bf9c;
  height: auto;
  position: relative;
}

.navbar,
.navbar_menu {
  background: #bb5a00;
  opacity: 0.97;
  padding: 9px 0px 9px 0px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.profil-text {
  color: #ffffff;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

.login-div a,
.navmenuitems a,
.frame a {
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.row a {
  text-decoration: none;
}

.searchbar {
  border-radius: 30px;
  border-style: solid;
  border-color: #ffffff21;
  border-width: 2px;
  flex-shrink: 0;
  width: 905px;
  height: 65px;
  position: relative;
  overflow: hidden;
  font-size: 22px;
}

.foobhub-logo-text {
  text-align: right;
  position: fixed;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 60px;
  left: 40px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: bottom;
  justify-content: bottom;
  background: linear-gradient(#FF0000, #FF6000, #EEA325);
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.frame-26 {
  background: #ffffff;
  border-style: solid;
  border-color: #ff6000;
  border-width: 5px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 1079px;
  height: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  align-content: center;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

.frame-104 {
  display: flex;
  flex-direction: column;
  gap: 43px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.recept-felt-lt-se {
  background: var(--lemon-orange-red-linear, linear-gradient(180deg, rgba(238, 163, 37, 1.00) 0%, rgba(255, 96, 0, 1.00) 51.5625%, rgba(255, 0, 0, 1.00) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 70px;
  font-weight: 400;
  position: relative;
}

.felt-ltheti-kedvenc-recepteit-egyszer-en-s-azokat-megoszthatja-bar-taival-csal-dj-val-vagy-b-rki-m-ssal {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: relative;
}

.line-8 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 900px;
  height: 0px;
  position: relative;
}

.frame-139 {
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-138 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-137 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-105 {
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.a-recept-c-me {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 34px;
  font-weight: 400;
  position: relative;
}

.frame-27 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 500px;
  height: 75px;
  position: relative;
  overflow: hidden;
}

.adja-meg-a-recept-c-m-t {
  color: #a3a3a3;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  left: 0px;
  top: 0px;
  width: 500px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.frame-107 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.le-r-s {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 34px;
  font-weight: 400;
  position: relative;
}

.frame-28 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 500px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.x-2 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 460px;
  top: 360px;
  overflow: visible;
  z-index: 1;
}

.rjon-receptj-hez-le-r-st {
  color: #a3a3a3;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  line-height: 50px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 500px;
  height: 400px;
}

.frame-106 {
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.k-p-felt-lt-se {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 34px;
  font-weight: 400;
  position: relative;
}

.frame-29 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.t-lts-n-fel-k-pet-tel-r-l {
  color: rgba(0, 0, 0, 0.70);
  text-align: center;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center
}

.line-9 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 950px;
  height: 0px;
  position: relative;
}

.frame-115 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-114 {
  display: flex;
  flex-direction: column;
  gap: 62px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-113 {
  display: flex;
  flex-direction: column;
  gap: 49px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-108 {
  display: flex;
  flex-direction: row;
  gap: 68px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.hozz-val-k {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}

.rja-le-a-hozz-val-kat-melyek-oly-finomm-teszik-receptj-t-s-ne-felejtse-el-megadni-a-m-rt-kegys-geket-is {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

.ingredient_inputs {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.cukor {
  color: #a3a3a3;
  text-align: center;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center
}

._1 {
  color: #a3a3a3;
  text-align: center;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 161px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center
}

.ev-kan-l {
  color: #a3a3a3;
  text-align: center;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 161px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center
}

.ingredient {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.ingredient_name {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 400px;
  height: 75px;
  position: relative;
  /* overflow: hidden; */
}

.ingredient_amount {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 161px;
  height: 75px;
  position: relative;
  overflow: hidden;
}

.ingredient_measurement {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 161px;
  height: 75px;
  position: relative;
  overflow: hidden;
}

.torles_gomb {
  border-radius: 10px;
  border-style: solid;
  border-color: #ce0000;
  border-width: 2px;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
}

.kuka {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 5px;
  top: 5px;
  overflow: visible;
}

.frame-36 {
  border-radius: 10px;
  border-style: solid;
  border-color: #bb5a00;
  border-width: 4px;
  flex-shrink: 0;
  width: 400px;
  height: 75px;
  position: relative;
  overflow: hidden;
}

.plus-button-text {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 83px;
  top: calc((100% - 48px)/ 2);
}

.plus-square {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: calc((100% - 50px)/ 2);
}

.line-10 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 950px;
  height: 0px;
  position: relative;
}

.frame-123 {
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-116 {
  display: flex;
  flex-direction: row;
  gap: 61px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.utas-t-sok {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 34px;
  font-weight: 400;
  position: relative;
}

.adjon-utas-t-sokat-az-elk-sz-t-ssel-kapcsolatban-s-t-rjen-ki-az-apr-bb-r-szletekre-is-mint-a-s-t-h-foka-h-ny-percig-legyen-bennt-a-s-t-ben-stb {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

.frame-118 {
  display: flex;
  flex-direction: row;
  gap: 78px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-117 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.i-l-p-s {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

.frame-44 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 740px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.x-22 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 700px;
  top: 110px;
  overflow: visible;
}

.rja-le-mi-a-k-vetkez-l-p-s-receptj-nek-elk-sz-t-s-ben {
  color: rgba(0, 0, 0, 0.70);
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 743px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.frame-38 {
  border-radius: 10px;
  border-style: solid;
  border-color: #ce0000;
  border-width: 2px;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
}

.trash-2-14 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 5px;
  top: 5px;
  overflow: visible;
}

.frame-120 {
  display: flex;
  flex-direction: row;
  gap: 78px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-119 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.ii-l-p-s {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

.frame-46 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 750px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.x-23 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 710px;
  top: 110px;
  overflow: visible;
}

.rja-le-mi-a-k-vetkez-l-p-s-receptj-nek-elk-sz-t-s-ben2 {
  color: rgba(0, 0, 0, 0.70);
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 750px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.frame-45 {
  border-radius: 10px;
  border-style: solid;
  border-color: #ce0000;
  border-width: 2px;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
}

.trash-2-15 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 5px;
  top: 5px;
  overflow: visible;
}

.frame-122 {
  display: flex;
  flex-direction: row;
  gap: 78px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-121 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.iii-l-p-s {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}

.frame-48 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 750px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.x-24 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 710px;
  top: 110px;
  overflow: visible;
}

.frame-47 {
  border-radius: 10px;
  border-style: solid;
  border-color: #ce0000;
  border-width: 2px;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
}

.trash-2-16 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 5px;
  top: 5px;
  overflow: visible;
}

.frame-43 {
  border-radius: 10px;
  border-style: solid;
  border-color: #bb5a00;
  border-width: 4px;
  flex-shrink: 0;
  width: 400px;
  height: 75px;
  position: relative;
  overflow: hidden;
}

.l-p-s-hozz-ad-sa {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 86px;
  top: 18px;
}

.line-11 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 950px;
  height: 0px;
  position: relative;
}

.frame-130 {
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.elk-sz-t-si-id {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}

.frame-129 {
  padding: 0px 0px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-128 {
  display: flex;
  flex-direction: row;
  gap: 88px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-124 {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.el-k-sz-let {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}

.s-t-s {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}

.pihentet-s {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}

.frame-125 {
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-49 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 100px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

._0 {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 50px;
}

.frame-51 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 100px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.frame-53 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 100px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.frame-126 {
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-50 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 300px;
  height: 50px;
  position: relative;
  overflow: hidden;
  appearance: none;
}

.perc {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: calc((100% - 36)/ 2);
  width: 300px;
  height: 50px;
}

.chevron-down-1 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 251px;
  top: 5px;
  overflow: visible;
}

.frame-52 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 300px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.ra {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 10px;
}

.chevron-down-12 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 251px;
  top: 5px;
  overflow: visible;
}

.frame-54 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 300px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.nap {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 10px;
}

.chevron-down-13 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 251px;
  top: 5px;
  overflow: visible;
}

.frame-127 {
  display: flex;
  flex-direction: row;
  gap: 62px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.sszes-tett-id {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}

._02 {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}

.frame-55 {
  border-radius: 10px;
  border-style: solid;
  border-color: #bb5a00;
  border-width: 4px;
  flex-shrink: 0;
  width: 400px;
  height: 75px;
  position: relative;
  overflow: hidden;
}

.id-hozz-ad-sa {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 86px;
  top: 18px;
}

.line-12 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 950px;
  height: 0px;
  position: relative;
}

.frame-133 {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-132 {
  display: flex;
  flex-direction: row;
  gap: 66px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.felszolg-l-si-adag {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}

.frame-131 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.minus-1 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}

._12 {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}

.plus-square-2 {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: visible;
}

.f-r-sz-re {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}

.line-13 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 950px;
  height: 0px;
  position: relative;
}

.frame-135 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-134 {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 947px;
  position: relative;
}

.neh-zs-g {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}

.frame-66 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 7px 10px 7px 10px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.k-nny-elk-sz-teni {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
}

.chevron-down-2 {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: visible;
}

.line-14 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 950px;
  height: 0px;
  position: relative;
}

.frame-136 {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 949px;
  position: relative;
}

.kateg-ria {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}

.frame-67 {
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  width: 400px;
  height: 75px;
  position: relative;
  overflow: hidden;
}

.f-tel {
  color: #000000;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 75px;
  border: none;
  outline: none;
}

.chevron-down-22 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 330px;
  top: 8px;
  overflow: visible;
}

.frame-140 {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 950px;
  position: relative;
}

.frame-25 {
  background: #584f47;
  border-radius: 15px;
  padding: 18px 74px 18px 74px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.m-gse {
  color: #ffffff;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}

.frame-24 {
  background: #bb5a00;
  border-radius: 15px;
  padding: 11px 62px 11px 62px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.recept-k-zz-t-tele {
  color: #ffffff;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  text-align: center;
}

.image-9 {
  width: 100%;
  height: 160px;
  position: relative;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.image-92 {
  width: 100%;
  height: 200px;
  position: relative;
  object-fit: cover;
}

.footer,
.footer * {
  box-sizing: border-box;
}

.footer {
  background: #bb5a00;
  padding: 15px 281px 15px 281px;
  display: flex;
  flex-direction: row;
  gap: 66px;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}

.group-188 {
  flex-shrink: 0;
  width: 385px;
  height: 213px;
  position: relative;
}

.food-hub {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 55px;
  font-weight: 400;
  position: relative;
  width: 237px;
  height: 153.7px;
}

.felhasz-feltet {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: relative;
  width: 385px;
  height: 129px;
}

.foodhub-gmail-com {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 291px;
  height: 214px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foodhub-logo-trasnparent-1 {
  flex-shrink: 0;
  width: 268px;
  height: 214px;
  position: relative;
  object-fit: cover;
}

.frame-187 {
  display: flex;
  flex-direction: row;
  gap: 34px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 188px;
  height: 213px;
  position: relative;
}

.facebook {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}

.twitter {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}

.instagram {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}


.navig-ci-s-b-r-sszecsukva {
  background: #bb5a00;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  height: 110px;
  left: 0px;
  top: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.frame-166 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 94px;
  left: 0px;
  top: 0px;
  flex-wrap: nowrap;
  align-content: center;
}

.food-hub2 {
  text-align: center;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  --center-webkit-text-stroke: 10px var(--lemon-orange-red-linear, linear-gradient(180deg, rgba(238, 163, 37, 1.00) 0%, rgba(255, 96, 0, 1.00) 51.5625%, rgba(255, 0, 0, 1.00) 100%));
}

.frame-69 {
  border-radius: 30px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
  flex-shrink: 0;
  width: 913px;
  height: 75px;
  position: relative;
  overflow: hidden;
}

.frame-164 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 861px;
  height: 72px;
  position: relative;
  left: 31px;
  top: 2.5px;
}

.keres-s {
  color: #ffffff;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}

.frame-165 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.circle-1 {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: visible;
}

.profil {
  color: #ffffff;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}

.user-1 {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  left: 5px;
  top: 4.38px;
  overflow: visible;
}
/* 
#searchResults {
  display: none;
  position: absolute;
  background-color: orange;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
  list-style-type: none;
  padding: 0;
  overflow-x: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#searchResults li {
  padding: 8px 12px;
  cursor: pointer;
}

#searchResults li:hover {
  background-color: #ddd;
} */