.fooldal,
.fooldal * {
  box-sizing: border-box;
}

.scrollbar {
  background-color: #f0c36a;
}

.fooldal {
  background: #f0d8b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  zoom: 55%;
  /* padding-left: 30px; */
  gap: 20px;
}

.fooldal_layout {
  gap: 50px;
  background: #f0d8b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.background_image {
  width: 100%;
  height: auto;
  position: sticky;
  overflow: visible;
  object-fit: cover;
  z-index: 0;
  margin-top: -60px;
}

.uj_recpetjeink_etel_galeria {
  background: #b02000;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(180deg, rgba(238, 163, 37, 1.00) 0%, rgba(255, 96, 0, 1.00) 51.5625%, rgba(255, 0, 0, 1.00) 100%);
  border-image-slice: 1;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1635px;
  height: 1244px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.uj_recpetjeink_title {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.uj_recpetjeink_text {
  background: var(--lemon-greater-orange-greater-red-linear, linear-gradient(180deg, rgba(238, 163, 37, 1.00) 0%, rgba(255, 96, 0, 1.00) 51.5625%, rgba(255, 0, 0, 1.00) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 80px;
  font-weight: 400;
  position: relative;
  width: 513px;
  height: 96.12px;
}

.uj_recpetjeink_div_container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}

.uj_recpetjeink_div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 356px;
  height: 503px;
  position: relative;
  transition: transform 0.3s ease;
}

.uj_recpetjeink_div:hover {
  transform: scale(1.05);
}

.uj_recpetjeink_div_picture {
  background: #623500;
  border-radius: 10px;
  border-style: solid;
  border-color: #ce0000;
  border-width: 2px;
  flex-shrink: 0;
  width: 320px;
  height: 353px;
  position: relative;
  overflow: hidden;
}

.uj_recpetjeink_div_picture_img {
  width: 318px;
  height: 352px;
  position: relative;
  left: calc(50% - 159px);
  top: calc(50% - 176px);
  object-fit: cover;
}

.uj_recpetjeink_div_title {
  color: #ffffff;
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}

.uj_recpetjeink_div_button {
  background: #ff9900;
  border-radius: 10px;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.uj_recpetjeink_div_button:hover {
  background-color: #FF0000;
}

.uj_recpetjeink_div_button_text {
  color: #ffffff;
  text-align: center;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.honap_legjobb_div {
  flex-shrink: 0;
  border-color: #FF0000;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-self: center;
  align-items: center;

  button {
    outline: none;
  }
}

.honap_legjobb_backgroundimage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.honap_legjobb_title {
  background: rgba(255, 153, 0, 0.80);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 801px;
  position: absolute;
  left: 51px;
  top: 20px;
}

.honap_legjobb_title_text {
  color: #000000;
  text-align: left;
  font-family: 'Inika-Regular', sans-serif;
  font-size: 80px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}

.honap_legjobb_button_div {
  background: #ff9900;
  border-radius: 20px;
  width: 278px;
  height: 104px;
  position: absolute;
  left: 1555px;
  top: 978px;
  transition: transform 0.3s ease;
  outline: none;
}

.honap_legjobb_button_div:hover {
  transform: scale(1.1);
}

.honap_legjobb_button_text {
  color: #000000;
  text-align: center;
  font-family: 'Inika-Regular', sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 278px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.honap_legjobb_description {
  background: rgba(255, 153, 0, 0.80);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 78px;
  top: 436px;
  overflow: hidden;
}

.honap_legjobb_description_title {
  color: #000000;
  text-align: left;
  font-family: 'Inika-Regular', sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: relative;
  width: 712px;
}

.honap_legjobb_description_div {
  color: #000000;
  text-align: left;
  font-family: 'Inika-Regular', sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: relative;
  width: 1330px;
}

.kategoria_search {
  background: #f0d8b5;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.kategoria_search_title_div {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.kategoria_search_title_text {
  background: linear-gradient(180deg, rgba(238, 163, 37, 1.00) 0%, rgba(255, 96, 0, 1.00) 51.5625%, rgba(255, 0, 0, 1.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: 'Inika-Regular', sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: relative;
}

.kategoria_search_div {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  justify-content: center;
  align-self: center;
}

.kategoria_search_div_buttonleft,
.kategoria_search_div_buttonright {
  border: none;
  outline: none;
}

.kategoria_search_div_buttonleft:focus,
.kategoria_search_div_buttonleft:active,
.kategoria_search_div_buttonright:focus,
.kategoria_search_div_buttonright:active {
  outline: none;
  animation: scaleAnimation 0.2s alternate ease-in-out;
}

@keyframes scaleAnimation {
  from {
    transform: scale(100%);
  }

  to {
    transform: scale(102%);
  }
}

.carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  transition: none !important;
  transition: none !important;
  transition: none !important;
}

.buttonleft {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: visible;
  bottom: 20px;
}

.buttonright {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: visible;
  bottom: 20px;
}

.kategoria_search_div_inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.kategoria_search_div_categorydiv {
  border-radius: 10px;
  flex-shrink: 0;
  width: 300px;
  height: 370px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categorydiv_eclipselayout {
  border-radius: 50%;
  width: 270px;
  height: 250px;
  position: relative;
  top: 0px;
  object-fit: cover;
}

.categorydiv_eclipselayout_title {
  color: #000000;
  text-align: center;
  font-family: 'Inter-ExtraBold', sans-serif;
  font-size: 40px;
  font-weight: 800;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px #ff3e01;
}

.signup_newspaper_container {
  flex-shrink: 0;
  width: 100%;
  height: 333px;
  position: relative;
}

.signup_newspaper_container_background {
  background: rgba(255, 153, 0, 0.56);
  width: 100%;
  height: 333px;
  position: absolute;
  box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.signup_newspaper_div {
  background: #ff9900;
  border-radius: 50px;
  padding: 0px 79px 0px 79px;
  width: 1527px;
  height: 274px;
  position: absolute;
  left: calc(50% - 763px);
  top: 28px;
}

.signup_newspaper_div_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1527px;
  position: absolute;
  left: calc(50% - 763.5px);
  top: 42px;
}

.signup_newspaper_div_title_text {
  color: #000000;
  text-align: center;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  width: 1526px;
  display: flex;
  align-items: center;
  justify-content: center
}

.signup_newspaper_div_title_text2 {
  margin: -10px 0 0 0;
  color: #000000;
  text-align: center;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center
}

.signup_newspaper_div_input {
  width: 696px;
  height: 78px;
  position: absolute;
  left: 431px;
  top: 162px;
}

.signup_newspaper_div_input_background {
  background: #fecb00;
  border-radius: 200px;
  /* border-style: solid;
  border-color: #000000;
  border-width: 0.1px; */
  height: 78px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.signup_newspaper_div_input_button {
  background: #fe2f008d;
  border-radius: 200px;
  /* border-style: solid;
  border-color: #000000;
  border-width: 0.1px; */
  width: 241px;
  height: 78px;
  position: absolute;
  right: 0px;
  top: calc(50% - 39px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.signup_newspaper_div_input_button:active,
.signup_newspaper_div_input_button:focus {
  outline: none;
}

.signup_newspaper_div_input_button_background {
  background: #f2d09d;
  border-radius: 40px;
  width: 241px;
  height: 81px;
  position: absolute;
  left: calc(50% - 120.5px);
  top: 1px;
}

.signup_newspaper_div_input_button_text {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 120.5px);
  top: calc(50% - 40px);
  width: 241px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_newspaper_div_input_email {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 10px;
  top: 0px;
  width: 445px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  border: none;
  outline: none;
}

.signup_newspaper_div_input_email:active,
.signup_newspaper_div_input_email:focus {
  outline: none;
}

.signup_newspaper_div_input_email::placeholder {
  color: #000000;
}

.thanksmessage_div {
  background: #008000;
  border-radius: 200px;
  height: 78px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: none;
}

.thanksmessage {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 10px;
  top: 0px;
  width: 650px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customersfavorite_etel_galeria {
  background: #f0c36a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 1635px;
  height: 1244px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 20px;
  border-image-slice: 20 fill;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(rgb(238, 163, 37) 0%, rgb(255, 96, 0) 51.5625%, rgb(255, 0, 0) 100%) 1 / 1 / 0 stretch;
}

.customersfavorite_etel_galeria_title {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.customersfavorite_etel_galeria_title_text {
  background:
    linear-gradient(180deg,
      rgba(238, 163, 37, 1) 0%,
      rgba(255, 96, 0, 1) 51.5625%,
      rgba(255, 0, 0, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 70px;
  font-weight: 400;
  position: relative;
}

.customersfavorite_etel_galeria_div_container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 1439px;
  position: relative;
}

.customersfavorite_etel_galeria_div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 356px;
  height: 503px;
  position: relative;
  transition: transform 0.3s ease;
}

.customersfavorite_etel_galeria_div:hover {
  transform: scale(1.05);
}

.customersfavorite_etel_galeria_div_image_container {
  background: #623500;
  border-radius: 10px;
  border-style: solid;
  border-color: #ce0000;
  border-width: 1px;
  flex-shrink: 0;
  width: 318px;
  height: 351px;
  position: relative;
  overflow: hidden;
}

.customersfavorite_etel_galeria_div_image {
  width: 318px;
  height: 352px;
  position: absolute;
  left: calc(50% - 159px);
  top: calc(50% - 176px);
  object-fit: cover;
}

.customersfavorite_etel_galeria_div_title {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}

.customersfavorite_etel_galeria_div_button_div {
  background: #ff9900;
  border-radius: 10px;
  padding: 15px 30px 15px 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.customersfavorite_etel_galeria_div_button_div:hover {
  background-color: #FF0000;
}

.customersfavorite_etel_galeria_div_button_text {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback_footer {
  overflow: visible;
  width: 100%;
}

.feedback_container {
  background: #f8b550;
  padding: 21px 254px 21px 254px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.feedback_stye_background {
  background: #ff9900;
  border-radius: 30px;
  padding: 25px 30px 25px 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1407px;
  position: relative;
}

.feedback_hearders {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}

.feedback_title {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: relative;
}

.feeback_description {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 34px;
  font-weight: 400;
  position: relative;
  width: 562px;
  height: 129px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.feedback_main_div {
  padding: 50px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 699px;
  position: relative;
}

.feedback_name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}

.feedback_name_title {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 337px;
}

.feedback_name_input_div {
  background: #ad7d33;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
  overflow: hidden;
}

.feedback_name_input {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.feedback_email {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}

.feedback_email_title {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 350px;
}

.feedback_email_input_div {
  background: #ad7d33;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}

.feedback_email_input {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.feedback_message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.feedback_message_title {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 699px;
}

.feedback_message_input_div {
  background: #ad7d33;
  border-radius: 15px;
  padding: 5px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 699px;
  height: 109px;
  position: relative;
  overflow: hidden;
}

.feedback_message_input {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  position: relative;
  width: 699px;
  height: 109px;
  width: 100%;
  height: 100%;
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.feedback_error {
  color: #ff0000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  width: 476px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.feedback_sendbutton {
  background: #ad7d33;
  border-radius: 15px;
  flex-shrink: 0;
  width: 165px;
  height: 62px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback_sendbutton_text {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
}

.feedback_sendbutton:hover {
  transform: scale(1.05);
}

.feedback_name_input::placeholder,
.feedback_email_input::placeholder,
.feedback_message_input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


.title {
  display: flex;
  flex-direction: column;
  gap: -5px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 600px;
  /* background-color: transparent;
  backdrop-filter: blur(15px); */
  padding: 50px;
  border-radius: 40px;
}

.title_foodhub {
  text-align: left;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 128px;
  font-weight: 520;
  position: relative;
  background: var(--lemon-greater-orange-greater-red-linear, linear-gradient(180deg, rgba(238, 163, 37, 1.00) 0%, rgba(255, 96, 0, 1.00) 51.5625%, rgba(255, 0, 0, 1.00) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title_slogen {
  color: #000000;
  text-align: center;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: relative;
}

.logout_icon,
.gear_icon,
.recipe_icon {
  position: relative;
  width: 20%;
  height: 20%;
}

.kategoria_search_div_inner_href,
.kategoria_search_div_inner_href:hover,
.kategoria_search_div_inner_href:active,
.kategoria_search_div_inner_href:visited {
  outline: none;
  border: none;
  appearance: none;
  color: none;
  text-decoration: none;
}