.websidecookies,
.websidecookies * {
    box-sizing: border-box;
}

.websidecookies {
    height: 4.875rem;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    width: 100%;

    background-image: url(../../images/mainPage_Image/websidecookies.png);
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.websidecookies__websidecookies-layout {
    /* padding: 0rem 18.8125rem 0rem 12.6875rem; */
    padding-left: 10%;
    padding-right: 17%;
    display: flex;
    flex-direction: row;
    /* gap: 14.125rem; */
    align-items: center;
    justify-content: center;
    /* width: 119.6875rem;   */
    height: 4.8125rem;
    position: relative;
    left: 0rem;
    top: 0.0625rem;
    overflow: hidden;
    width: 100%;
}

.websidecookies__websidecookies-description {
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.websidecookies__websidecookies-description-text {
    color: #ffd88a;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    position: absolute;
    left: 0.5625rem;
    top: 0rem;
    width: 61.625rem;
    height: 4.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.websidecookies__websidecookies-description-text a {
    display: inline;
}

.websidecookies__websidecookies-agreebutton {
    background: #d8a339;
    border-radius: 0.9375rem;
    flex-shrink: 0;
    width: 9.25rem;
    height: 2.625rem;
    position: relative;
    overflow: hidden;
}

.websidecookies__websidecookies-agreebutton-text {
    color: #492a04;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    position: absolute;
    left: 0rem;
    top: 0.03125rem;
    width: 9.25rem;
    height: 2.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}